//App
$backgroundColor: rgb(214, 212, 212);
$borderRadius: 15px;
$maxWidth : 960px;
$backgroundColorForElements: #f2f2f2;
//Navbar
$navbarHeight : 100px;
$navberitemsColor : rgb(226, 145, 145);
$navbarColor : rgb(54, 54, 54);

//Landing
$gridsPadding : 10px;
$gridsMargin : 10px;

//MainPage 
$divRadius : 15px;
$marginBottom : 10%;

//validation
$validColor: rgb(170, 71, 71);
$invalidColor: rgb(41, 117, 41);

//Buttons
$disabledColor: rgb(100, 99, 99);